In [3]:
import pandas as pd
import numpy as np

In [11]:
arr = np.random.randint(1,100,25).reshape(5,5)
arr = np.linspace(1, 50, 25).reshape(5,5)
arr

array([[  1.        ,   3.04166667,   5.08333333,   7.125     ,
          9.16666667],
       [ 11.20833333,  13.25      ,  15.29166667,  17.33333333,  19.375     ],
       [ 21.41666667,  23.45833333,  25.5       ,  27.54166667,
         29.58333333],
       [ 31.625     ,  33.66666667,  35.70833333,  37.75      ,
         39.79166667],
       [ 41.83333333,  43.875     ,  45.91666667,  47.95833333,  50.        ]])

In [13]:
df = pd.DataFrame(np.random.randint(1,100,25).reshape(5,5), index='A B C D E'.split(), columns='V W X Y Z'.split())

In [14]:
df

    V   W   X   Y   Z
A  16  44  75   1  89
B  63  39  20  71  60
C  77  21  38  96  13
D  12   5  89  28  92
E  37  77  90  91  87

In [17]:
df[['W', 'X']]

    W   X
A  44  75
B  39  20
C  21  38
D   5  89
E  77  90

In [19]:
type(df['W'])

pandas.core.series.Series